@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Museo300';
    src: url('font/museo300-regular-webfont.eot');
    src: url('font/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo300-regular-webfont.woff') format('woff'),
         url('font/museo300-regular-webfont.ttf') format('truetype'),
         url('font/museo300-regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700';
    src: url('font/museo700-regular-webfont.eot');
    src: url('font/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo700-regular-webfont.woff') format('woff'),
         url('font/museo700-regular-webfont.ttf') format('truetype'),
         url('font/museo700-regular-webfont.svg#Museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LucidaGrandeBold';
    src: url('font/lucida_grande_bold-webfont.eot');
    src: url('font/lucida_grande_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lucida_grande_bold-webfont.woff') format('woff'),
         url('font/lucida_grande_bold-webfont.ttf') format('truetype'),
         url('font/lucida_grande_bold-webfont.svg#LucidaGrandeBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LucidaGrandeBold';
    src: url('font/lucida_grande_bold_0-webfont.eot');
    src: url('font/lucida_grande_bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lucida_grande_bold_0-webfont.woff') format('woff'),
         url('font/lucida_grande_bold_0-webfont.ttf') format('truetype'),
         url('font/lucida_grande_bold_0-webfont.svg#LucidaGrandeBold') format('svg');
    font-weight: normal;
    font-style: normal;

}